# This is for booting from flash memory
CONFIG_XIP=n

### Enable console
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_CONSOLE_HANDLER=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_UART_NS16550=y
CONFIG_SHELL_BACKEND_SERIAL_TX_RING_BUFFER_SIZE=8
CONFIG_SHELL_BACKEND_SERIAL_RX_RING_BUFFER_SIZE=512
CONFIG_SHELL_PROMPT_UART="te0950-r5:~$ "
CONFIG_UART_XLNX_PS=n

### System Timer (ttc0 @ 100MHz)
CONFIG_XLNX_PSTTC_TIMER_INDEX=0
CONFIG_SYS_CLOCK_TICKS_PER_SEC=10000
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=100000000

### Disable Memory Protection Unit
CONFIG_ARM_MPU=n

### General Config
CONFIG_REQUIRES_FULL_LIBC=y

### Logging
CONFIG_LOG=y
CONFIG_LOG_PRINTK=y
CONFIG_LOG_BUFFER_SIZE=4096

#### AXI DMA Config
CONFIG_DMA=y
CONFIG_DMA_XILINX_AXI_DMA_DISABLE_CACHE_WHEN_ACCESSING_SG_DESCRIPTORS=n
CONFIG_DMA_XILINX_AXI_DMA_SG_DESCRIPTOR_NUM_TX=512
CONFIG_DMA_XILINX_AXI_DMA_SG_DESCRIPTOR_NUM_RX=512
CONFIG_DMA_LOG_LEVEL_INF=y
CONFIG_DMA_XILINX_AXI_DMA=y
CONFIG_DMA_LOG_LEVEL_DBG=y

### AXI ETH Config
CONFIG_ETH_DRIVER=y
CONFIG_NET_L2_ETHERNET=y
CONFIG_ETH_XILINX_AXIENET=y
CONFIG_MDIO=y
CONFIG_PHY_GENERIC_MII=y
CONFIG_MDIO_XILINX_AXI_ENET=y
CONFIG_ETHERNET_LOG_LEVEL_DBG=y

### Networking Config
CONFIG_NET_SHELL=y
CONFIG_NETWORKING=y
CONFIG_NET_IPV4=y
CONFIG_NET_IPV6=n
CONFIG_NET_TCP=y
CONFIG_NET_SOCKETS=y
CONFIG_NET_SOCKETS_PACKET=y
CONFIG_NET_SOCKETS_PACKET_DGRAM=y
CONFIG_POSIX_API=y
CONFIG_NET_STATISTICS=y
CONFIG_NET_ICMPV4_ACCEPT_BROADCAST=y
CONFIG_NET_IPV4_ACCEPT_ZERO_BROADCAST=y
CONFIG_NET_STATISTICS_ETHERNET=y
CONFIG_NET_DRIVERS=y
CONFIG_NET_LOOPBACK=y
CONFIG_ENTROPY_GENERATOR=y
CONFIG_TIMER_RANDOM_GENERATOR=y
CONFIG_TEST_RANDOM_GENERATOR=y

### Network address Config
CONFIG_NET_CONFIG_SETTINGS=y
CONFIG_NET_CONFIG_NEED_IPV4=y
CONFIG_NET_CONFIG_MY_IPV4_ADDR="192.0.2.3"
CONFIG_NET_CONFIG_MY_IPV4_NETMASK="255.255.255.0"
CONFIG_NET_CONFIG_PEER_IPV4_ADDR="192.0.2.2"
CONFIG_NET_TCP_TIME_WAIT_DELAY=0
CONFIG_NET_IP_ADDR_CHECK=y

### Network Packet Management
CONFIG_NET_PKT_RX_COUNT=1024
CONFIG_NET_PKT_TX_COUNT=1024
CONFIG_NET_BUF_RX_COUNT=1024
CONFIG_NET_BUF_TX_COUNT=1024
CONFIG_NET_BUF_DATA_SIZE=1744
CONFIG_NET_TC_SKIP_FOR_HIGH_PRIO=y
CONFIG_NET_TC_RX_COUNT=0
CONFIG_NET_TC_TX_COUNT=0

### Network Debug Config
# CONFIG_NET_LOG=y
# CONFIG_NET_IF_LOG_LEVEL_DBG=y
# CONFIG_NET_CORE_LOG_LEVEL_DBG=y
# CONFIG_NET_ICMPV4_LOG_LEVEL_DBG=y
# CONFIG_NET_DEBUG_NET_PKT_ALLOC=y
# CONFIG_NET_PKT_LOG_LEVEL_DBG=y
# CONFIG_NET_TC_LOG_LEVEL_DBG=y
# CONFIG_NET_CONN_LOG_LEVEL_DBG=y
# CONFIG_NET_SOCKETS_LOG_LEVEL_DBG=y
# CONFIG_NET_CONTEXT_LOG_LEVEL_DBG=y
# CONFIG_NET_TCP_LOG_LEVEL_DBG=y
# CONFIG_NET_UDP_LOG_LEVEL_DBG=y
# CONFIG_NET_IPV4_LOG_LEVEL_DBG=y

### Memory Management Config
CONFIG_HEAP_MEM_POOL_SIZE=16777216
CONFIG_ISR_STACK_SIZE=524288
CONFIG_MAIN_STACK_SIZE=524288
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=524288
CONFIG_IDLE_STACK_SIZE=524288
CONFIG_NET_TCP_WORKQ_STACK_SIZE=524288
CONFIG_NET_TX_STACK_SIZE=524288
CONFIG_NET_RX_STACK_SIZE=524288
CONFIG_NET_MGMT_EVENT_STACK_SIZE=524288
CONFIG_NET_MGMT_EVENT_SYSTEM_WORKQUEUE=y
CONFIG_NET_MGMT_EVENT_THREAD=y
CONFIG_POSIX_THREAD_THREADS_MAX=10
CONFIG_STACK_SENTINEL=y

# CONFIG_NET_TC_THREAD_PRIO_CUSTOM=y
# CONFIG_NET_TC_THREAD_PREEMPTIVE=y
# CONFIG_NET_TCP_WORKER_PRIO=-16
# CONFIG_NET_TC_TX_THREAD_BASE_PRIO=3
# CONFIG_NET_TC_RX_THREAD_BASE_PRIO=3
# CONFIG_ZPERF_WORK_Q_THREAD_PRIORITY=3
# CONFIG_NET_SOCKETS_SERVICE_THREAD_PRIO=3
# CONFIG_NET_TC_SKIP_FOR_HIGH_PRIO=y
# CONFIG_NET_CONTEXT_PRIORITY=y
# CONFIG_NET_SOCKETS_SERVICE=y