# This is for booting from flash memory
CONFIG_XIP=n
CONFIG_TICKLESS_KERNEL=y
CONFIG_BOOT_BANNER=y
CONFIG_BOOT_BANNER_STRING="Booting Zephyr Kondor-OS build"

### Enable console
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_CONSOLE_HANDLER=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_UART_NS16550=y
CONFIG_LOG_BACKEND_UART=y
CONFIG_UART_XLNX_PS=n
CONFIG_SHELL_PROMPT_UART="te0950-r5:~$ "
CONFIG_SHELL_BACKEND_SERIAL_TX_RING_BUFFER_SIZE=8
CONFIG_SHELL_BACKEND_SERIAL_RX_RING_BUFFER_SIZE=512
CONFIG_SHELL_BACKEND_SERIAL_FORCE_TX_BLOCKING_MODE=y

### System Timer (ttc0 @ 100MHz)
CONFIG_XLNX_PSTTC_TIMER_INDEX=0
CONFIG_SYS_CLOCK_TICKS_PER_SEC=10000
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=100000000
CONFIG_THREAD_RUNTIME_STATS=y

### Disable Memory Protection Unit
CONFIG_ARM_MPU=n

### Logging
CONFIG_LOG=y
CONFIG_LOG_PRINTK=y
CONFIG_LOG_BUFFER_SIZE=4096

#### AXI DMA Config
CONFIG_DMA=y
# CONFIG_DMA_64BIT=y

# Do not enable, mainline implementation not performant/incorrect
CONFIG_DMA_XILINX_AXI_DMA_DISABLE_CACHE_WHEN_ACCESSING_SG_DESCRIPTORS=n

CONFIG_DMA_XILINX_AXI_DMA_SG_DESCRIPTOR_NUM_TX=512
CONFIG_DMA_XILINX_AXI_DMA_SG_DESCRIPTOR_NUM_RX=512
CONFIG_DMA_LOG_LEVEL_INF=y
CONFIG_DMA_XILINX_AXI_DMA=y
CONFIG_DMA_XILINX_AXI_DMA_LOCK_DMA_IRQS=y
CONFIG_DMA_XILINX_AXI_DMA_POLL_INTERVAL=500
CONFIG_DMA_XILINX_AXI_DMA_INTERRUPT_THRESHOLD=1
CONFIG_DMA_XILINX_AXI_DMA_INTERRUPT_TIMEOUT=0
# CONFIG_DMA_LOG_LEVEL_DBG=y
CONFIG_DMA_64BIT=n

### AXI ETH Config
CONFIG_ETH_DRIVER=y
CONFIG_NET_L2_ETHERNET=y
CONFIG_ETH_XILINX_AXIENET=y
CONFIG_MDIO=y
CONFIG_PHY_GENERIC_MII=y
CONFIG_MDIO_XILINX_AXI_ENET=y
# CONFIG_ETHERNET_LOG_LEVEL_DBG=y

### Networking Config
CONFIG_NET_SHELL=y
CONFIG_NETWORKING=y
CONFIG_NET_IPV4=y
CONFIG_NET_IPV6=n
CONFIG_NET_TCP=y
CONFIG_NET_UDP=y
CONFIG_NET_SOCKETS=y
CONFIG_NET_SOCKETS_PACKET=y
CONFIG_NET_SOCKETS_PACKET_DGRAM=y
CONFIG_POSIX_API=y
CONFIG_NET_STATISTICS=y
CONFIG_NET_ICMPV4_ACCEPT_BROADCAST=y
CONFIG_NET_IPV4_ACCEPT_ZERO_BROADCAST=n
CONFIG_NET_LOG=y
CONFIG_NET_STATISTICS_ETHERNET=n
CONFIG_NET_DRIVERS=y
CONFIG_NET_TCP_TIME_WAIT_DELAY=0
CONFIG_NET_IP_ADDR_CHECK=n
CONFIG_NET_LOOPBACK=y

### Network driver Config
CONFIG_ENTROPY_GENERATOR=y
CONFIG_TIMER_RANDOM_GENERATOR=y
CONFIG_TEST_RANDOM_GENERATOR=y

### Network address Config
CONFIG_NET_CONFIG_SETTINGS=y
CONFIG_NET_CONFIG_NEED_IPV4=y
CONFIG_NET_CONFIG_MY_IPV4_ADDR="192.0.2.3"
CONFIG_NET_CONFIG_MY_IPV4_NETMASK="255.255.255.0"
CONFIG_NET_CONFIG_MY_IPV4_GW="192.0.2.1"
CONFIG_NET_CONFIG_PEER_IPV4_ADDR="192.0.2.2"
# CONFIG_NET_CONFIG_NEED_IPV6=y
# CONFIG_NET_CONFIG_MY_IPV6_ADDR="2001:db8::3"
# CONFIG_NET_CONFIG_PEER_IPV6_ADDR="2001:db8::2"
# CONFIG_NET_ICMPV4_LOG_LEVEL_DBG=y
# CONFIG_NET_CORE_LOG_LEVEL_DBG=y
# CONFIG_NET_IF_LOG_LEVEL_DBG=y
# CONFIG_NET_CONN_LOG_LEVEL_DBG=y
# CONFIG_NET_TC_LOG_LEVEL_DBG=y
# CONFIG_NET_TCP_LOG_LEVEL_DBG=y
# CONFIG_NET_UDP_LOG_LEVEL_DBG=y
# CONFIG_NET_IPV4_LOG_LEVEL_DBG=y
# CONFIG_NET_ARP_LOG_LEVEL_DBG=y
# CONFIG_NET_CONTEXT_LOG_LEVEL_DBG=y
# CONFIG_NET_MGMT_EVENT_LOG_LEVEL_DBG=y
# CONFIG_NET_SOCKETS_LOG_LEVEL_DBG=y
CONFIG_NET_PKT_LOG_LEVEL_DBG=n
CONFIG_NET_BUF_POOL_USAGE=n

# Network packet management
CONFIG_NET_PKT_RX_COUNT=1024
CONFIG_NET_PKT_TX_COUNT=1024
CONFIG_NET_BUF_RX_COUNT=1024
CONFIG_NET_BUF_TX_COUNT=1024
CONFIG_NET_BUF_DATA_SIZE=1744
CONFIG_NET_TC_RX_COUNT=1
CONFIG_NET_TC_TX_COUNT=1
CONFIG_NET_TX_DEFAULT_PRIORITY=0
CONFIG_NET_RX_DEFAULT_PRIORITY=0
CONFIG_NET_BUF_ALIGNMENT=32

# Debug Config
CONFIG_NET_DEBUG_NET_PKT_ALLOC=n

## Event Monitoring
# CONFIG_NET_MGMT_EVENT=y
# CONFIG_NET_MGMT_EVENT_INFO=y
# CONFIG_NET_MGMT_EVENT_MONITOR=y
# CONFIG_NET_MGMT_EVENT_MONITOR_AUTO_START=y

### Memory Management Config
CONFIG_HEAP_MEM_POOL_SIZE=8388608
CONFIG_ISR_STACK_SIZE=1024
CONFIG_MAIN_STACK_SIZE=4096
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=2048
CONFIG_IDLE_STACK_SIZE=1024
CONFIG_NET_TCP_WORKQ_STACK_SIZE=2048
CONFIG_NET_TX_STACK_SIZE=2048
CONFIG_NET_RX_STACK_SIZE=2048
CONFIG_NET_MGMT_EVENT_STACK_SIZE=2048
CONFIG_NET_MGMT_EVENT_SYSTEM_WORKQUEUE=y
CONFIG_NET_MGMT_EVENT_THREAD=y
CONFIG_POSIX_THREAD_THREADS_MAX=10
CONFIG_STACK_SENTINEL=y

### Zperf configs
CONFIG_NET_ZPERF=y
CONFIG_NET_ZPERF_MAX_PACKET_SIZE=1500
CONFIG_ZPERF_WORK_Q_STACK_SIZE=4096
CONFIG_NET_ZPERF_LOG_LEVEL_DBG=n
CONFIG_NET_IF_UNICAST_IPV4_ADDR_COUNT=1
CONFIG_NET_MAX_CONTEXTS=5
CONFIG_NET_MAX_CONN=5
CONFIG_NET_SOCKETS_SERVICE=y
CONFIG_NET_SOCKETS_SERVICE_THREAD_PRIO=-1
CONFIG_NET_SOCKETS_SERVICE_STACK_SIZE=4096
CONFIG_NET_SOCKETS_POLL_MAX=20
CONFIG_ZVFS_OPEN_MAX=32

CONFIG_NET_TC_THREAD_PREEMPTIVE=y
CONFIG_NET_TCP_WORKER_PRIO=-16
CONFIG_ZPERF_WORK_Q_THREAD_PRIORITY=3
CONFIG_NET_CONTEXT_PRIORITY=y
CONFIG_NET_TC_SKIP_FOR_HIGH_PRIO=y

CONFIG_CACHE_MANAGEMENT=y
CONFIG_DCACHE_LINE_SIZE_DETECT=y
CONFIG_ICACHE_LINE_SIZE_DETECT=y
CONFIG_SPEED_OPTIMIZATIONS=y
