// SPDX-License-Identifier: GPL-2.0
/*
 * dts file for AMD MicroBlaze V
 *
 * (C) Copyright 2024, Owusu Consulting
 *
 * Eric Owusu <owusu.eric@protonmail.com>
 */

/dts-v1/;
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <mem.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	model = "TE0950 Artix MicroBlaze V 32bit";
	compatible = "qemu,mbv", "amd,mbv";

	cpus: cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <100000000>;
		cpu_0: cpu@0 {
			compatible = "amd,mbv32", "riscv";
			device_type = "cpu";
			reg = <0>;
			riscv,isa = "rv32imafdc";
			i-cache-size = <32768>;
			d-cache-size = <32768>;
			clock-frequency = <100000000>;
			cpu0_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				interrupt-controller;
				#interrupt-cells = <1>;
			};
		};
	};

	aliases {
		serial0 = &uart0;
		led0 = &led_usr3_red;
		led1 = &led_usr2_green;
		sw0 = &sw0;
		watchdog0 = &watchdog0;
		pwmfan0 = &pwm_fan0;
	};

	chosen {
		bootargs = "earlycon=sbi console=ttyUL0,115200";
		stdout-path = "serial0:115200n8";
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,sram = &lmb0;
	};

	leds {
		compatible = "gpio-leds";
		led_usr3_red: led_usr3_red {
			gpios = <&c2c_axi_gpio_0 0 GPIO_ACTIVE_HIGH>;
			label = "LED USR3 RED";
		};
		led_usr2_green: led_usr2_green {
			gpios = <&c2c_axi_gpio_0 1 GPIO_ACTIVE_HIGH>;
			label = "LED USR2 GREEN";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		sw0: sw0 {
			gpios = <&c2c_axi_gpio_0 2 GPIO_ACTIVE_HIGH>;
			label = "SW0";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	lmb0: memory@0 {
		compatible = "mmio-sram";
		reg = <0 DT_SIZE_K(128)>;
	};

	bram0: memory@a8090000 {
		compatible = "mmio-sram";
		reg = <0xa8090000 DT_SIZE_K(8)>;
	};

	clk100: clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
	};

	axi: soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		ranges;
		bootph-all;

		axi_intc: interrupt-controller@41200000 {
			compatible = "xlnx,xps-intc-1.00.a";
			reg = <0x41200000 0x1000>;
			interrupt-controller;
			interrupt-parent = <&cpu0_intc>;
			#interrupt-cells = <2>;
			interrupts-extended = <&cpu0_intc 11>;
			xlnx,kind-of-intr = <0x1a>;
			xlnx,num-intr-inputs = <11>;
		};

		xlnx_timer0: timer@41c00000 {
			compatible = "amd,xps-timer-1.00.a";
			reg = <0x41c00000 0x1000>;
			interrupt-parent = <&axi_intc>;
			interrupts = <0 2>;
			xlnx,one-timer-only = <0>;
			clocks = <&clk100>;
		};

		watchdog0: watchdog@41a00000{
			compatible = "xlnx,xps-timebase-wdt-1.00.a";
			reg = <0x41a00000 0x10000>;
			clocks = <&clk100>;
			xlnx,wdt-interval = <31>;
			xlnx,wdt-enable-once = <1>;
		};

		uart0: serial@40600000 {
			compatible = "xlnx,xps-uartlite-1.00.a";
			reg = <0x40600000 0x1000>;
			interrupt-parent = <&axi_intc>;
			interrupts = <1 2>;
			clocks = <&clk100>;
			current-speed = <115200>;
		};

		c2c_axi_gpio_0: gpio@a8080000 {
			compatible = "xlnx,xps-gpio-1.00.a";
			reg = <0xa8080000 0x10000>;
			gpio-controller;
			#gpio-cells = <2>;

			xlnx,all-inputs = <0x0>;
			xlnx,all-outputs = <0x0>;
			xlnx,dout-default = <0x0>;
			xlnx,gpio-width = <0x3>;
			xlnx,is-dual = <0x0>;
			xlnx,tri-default = <0xffffffff>;
    	};

		pwm_fan0: pwm@41c10000 {
			compatible = "xlnx,xps-timer-1.00.a-pwm";
			reg = <0x41c10000 0x10000>;
			interrupt-parent = <&axi_intc>;
			interrupts = <3 2>;
			clock-frequency = <100000000>;
			xlnx,count-width = <0x20>;
			xlnx,gen0-assert = <0x1>;
			xlnx,gen1-assert = <0x1>;
			xlnx,one-timer-only = <0x0>;
			xlnx,trig0-assert = <0x1>;
			xlnx,trig1-assert = <0x0>;
			#pwm-cells = <3>;
		};

	};
};